@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 217 91% 60%;
  --primary-foreground: 211 100% 99%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
  --chart-1: 217 91% 60%;
  --chart-2: 212 100% 75%;
  --chart-3: 221 83% 53%;
  --chart-4: 217 91% 45%;
  --chart-5: 215 54% 30%;
  --warning: 45 93% 47%; 
  --success: 142 71% 45%;
}

.dark {
  --background: 0 0% 14.1%;
  --foreground: 0 0% 100%;
  --muted: 0 0% 0%;
  --muted-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --border: 0 0% 20%;
  --input: 0 0% 0%;
  --primary: 204 19% 42%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 0%;
  --secondary-foreground: 0 0% 100%;
  --accent: 0 0% 0%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --ring: 0 0% 100%;
  --chart-1: 217 91% 60%;
  --chart-2: 212 100% 75%;
  --chart-3: 221 83% 53%;
  --chart-4: 217 91% 45%;
  --chart-5: 215 54% 30%;
  --warning: 45 93% 47%;
  --success: 142 71% 45%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-slate-100 text-slate-800 dark:bg-background dark:text-white;
  }
}

/* Custom animations */



/* Additional utility classes */
.crossed-out {
  text-decoration: line-through;
  color: #94a3b8;
}
